div.forgotPassword{

    height: 457px;
   
    background-color: rgb(255, 255, 255, 0.7 );

    margin: 75px auto;
    width: 50%;

    padding: 30px;

}

i.forgotPassword{
    background: url(../assets/email.svg);
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 51px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box; 
}

i.backPage{
    background: url(../assets/left-arrow.svg);
    background-size: 28px;
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;

}

input.emailForgotPassword{
    border-radius: 15px;
    width: 318px;
    height: 51px
   
}

div.btnAcess{
    width: 320px;
    position: relative;
    left: 25%;    
} 

div.forgotPassword#btnAcess{
    text-align: center;
}