body {
    background-image: url(../assets/fundo.png);
}
div {
    border-radius: 25px;
}
div.content{
    width: 750px;
    height: 540px;
    margin-right: 50px;
    position: relative;
    background-color: rgb(255, 255, 255, 0.7 );
    float: right;
    padding: 30px;
    
}
div.content p h1{
    font-family: 'Ubuntu', sans-serif;
    
}

div.word{
    width: 50%;
    font-size: 60px;
    color: #00734f;
}

div.word p {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    transform: rotate(-10deg)
}