body {
    background-image: url(../assets/fundo.png);
}
div {
    border-radius: 25px;
}
div.content{
    width: 575px;
    height: 489px;
    margin-right: 50px;
    position: relative;
    background-color: rgb(255, 255, 255, 0.7 );
    float: right;
    padding: 30px;
    
}
div.content {
    font-family: 'Ubuntu', sans-serif;
    
}

div.content {
    font-size: 15pt;
}

div.content img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    
}

i.email_login{
    background: url(../assets/login_icon.png);
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 51px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box; 
}

i.password_login{
    background: url(../assets/password_icon.png);
    background-size: 45px;
    background-repeat: no-repeat;
    width: 45px;
    height: 51px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box; 
}

input.login {
    width: 318px;
    height: 51px
}

input{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
}

img#logoImg{
    position: relative;
    left: 375px;
}

div.word{
    width: 50%;
    font-size: 60px;
    color: #00734f;
}

div.word p {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    transform: rotate(-10deg)
}

div.link{
    display: inline;
}

div.link#forgotPassword {
    float: right;
}