body {
    background-image: url(../assets/fundo.png);
}
div {
    border-radius: 14px;
}
.content{
    width: 550px;
    height: 625px;
    margin: 0px auto;
    position: relative;
    background-color: rgb(255, 255, 255, 0.7);
  }